<h1>Náhled</h1>

<div class="preview">
    <div class="frame">


        <div class="outer">
            <div class="title">TIME TO FLY</div>
            <div class="top-text">9. 7. 2017</div>
            <div class="bottom-text">Nymburk</div>
            <div class="image"></div>
        </div>

    </div>
</div>