/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/.idea/
/.sass-cache/
/web/bundles/
/web/data/shop/cache/*
!web/data/shop/cache/.gitkeep
/web/data/shop/product/*
!web/data/shop/product/.gitkeep
/web/media/cache/*
!/web/media/cache/.gitkeep
/web/data/shop/attributes/*
!/web/data/shop/attributes/.gitkeep
/zasilkovna/seznam.json
