{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="summary row">

    <div class="col-md-12" align="center">
        <h3>Děkujem. Objednávka byla přijata.</h3>

        <p>Budeme Vás informovat o dokončení výroby a předání objednávky dopravci.</p>

        <p>Přejeme hezký den :)</p>

        <p>GOWOOD</p>
    </div>

</div>
{% endblock %}