.cart, .customer, .summary {





  h3 {
    text-align: center;
    margin: 20px 0;
  }

  .steps {
    .step {
      // border: solid #999 1px;
      padding: 10px;
      display: inline-block;
      width: 100%;
      text-align: center;
      // border-radius: 6px;
      font-weight: bold;
      margin-bottom: 10px;
      box-shadow: 0px 3px 10px #ddd;
      color: #888;



      span.number {

      }
    }

    .step.active {
      color: #fff;
      //border: solid #0275d8 2px;
      //background-color: #0275d8;
      background-color: #555;

      a {
        color: #fff;
      }

    }
  }

  .cart-shipping-payment {

    .item {
      background-color: #fff;
      border: 1px solid #D9D9D9;
      box-shadow: 0px 3px 10px #ddd;
      border-radius: @border-radius-cart;
      margin: 10px 0;
      padding: 20px;

      input {
        vertical-align: middle;
      }

      label {
        font-weight: bold;

        span {
          display: inline-block;
          margin-left: 15px;
        }
      }

      .price {
        display: inline-block;
        float: right;
        font-weight: bold;
      }

      .description {
        display: none;
      }

      .description.show {
        display: block;
      }
    }

    .item.payment {
      label {
        display: inline-block;
        margin-left: 15px;
      }

      span.icon {
        display: inline-block
      }
    }

  }


  #box-step1-cart-items {
    .subtotal {
      text-align: right;

      span {
        font-weight: bold;
      }
    }
  }


  .checkout-item {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 3px 10px #ddd;

    border-radius: @border-radius-cart;
    margin-bottom: 10px;
    padding: 10px;



    & > div {
      float: left;
      width: 80px;
      min-height: 100px;

      @media (max-width: @sm-max) {
        min-height: 10px;
        width: 100%;
        text-align: center;
      }
    }

    .image {
      width: 100px;

      @media (max-width: @sm-max) {
        width: 100%;
        text-align: center;

        img { width: 100px; }
      }


      margin-right: 20px;

      img {
        border-radius: 3px;
      }
    }

    .model {
      width: 80px;
    }

    .name {

      width: 300px;

      @media (max-width: @sm-max) {
        width: 100%;
        text-align: center;
      }

      a {
        color: @link-color;
      }

      .attributes {
        font-size: 80%;
        line-height: 1.3em;
        .value {
          font-weight: bold;
        }
        br {
          line-height: 1.3em;
        }
      }
    }

    .quantity {
      width: 50px;
      padding-top: 30px;
      vertical-align: middle;

      @media (max-width: @sm-max) {
        width: 100%;
        padding-top: 10px;
        text-align: center;
        input {
          width: 50px !important;
          display: inline;
        }
      }

      input
      {
        text-align: center;
      }

      &.summary {
        padding-top: 0px;
        font-weight: bold;
        line-height: 100px;
      }
    }

    .price {
      color: #0275d8;
      font-weight: bold;
      font-size: 18px;
      line-height: 100px;
      width: 150px;
      text-align: center;

      @media (max-width: @sm-max) {
        width: 100%;
        line-height: 30px;
        margin-top: 10px;
      }
    }

    .delete a {
      line-height: 100px;
      @media (max-width: @sm-max) {
        line-height: 30px;
      }
    }

    .availability {
      width: 100px;
    }

    &::after {
      clear: both;
      content: " ";
      display: block;
    }
  }

  .cart-total {
    background-color: #fff;
    box-shadow: 0px 3px 10px #ddd;
    border-radius: @border-radius-cart;
    font-size: 20px;
    margin-top: 15px;

    @media (max-width: @sm-max) {
      font-size: 17px;
    }

    span.title {
      display: inline-block;
      width: 70%;
      padding: 30px 10px;
      text-align: right;
    }

    span.price {
      padding: 30px 10px;
      font-weight: bold;
      background-color: #0a246a;
      color: #fff;
      float: right;
      width: 30%;
      display: inline-block;
      border-radius: @border-radius-cart;
      text-align: center;
    }
  }

  .continue {
    margin-top: 15px;

    a.link {
      line-height: 60px;
    }

    a.btn, button {
      cursor: pointer;
      padding: 1.2rem 1rem;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      float: right;

      @media (max-width: @sm-max) {
        font-size: 17px;
      }

      i {
        width: 30px;
        display: inline-block;
        text-align: center;
      }
    }
  }

}

.customer {

  .login-box {
    p {
      margin-bottom: 15px;
      a {
        color: @orange;
      }
    }

    .login-box-form {
      margin-bottom: 15px;
    }

    .login-error {
      display: none;
      color: red;
      text-align: center;
      font-size: 0.9rem;
      padding: 15px 0;

      a {
        font-weight: bold;
      }
    }

    input.error {
      border-color: red;
    }

    label.error {
      color: red;
      font-size: 0.9rem;
    }
  }

  .billing-address, .delivery-address, .order-note, .create-account {
    background-color: #fff;
    box-shadow: 0px 3px 10px #ddd;
    border-radius: @border-radius-cart;
    padding: 30px;

    .checkbox {
      text-align: center;
    }

    input[type=text], input[type=email], textarea, input[type=password] {
      background-color: #eee;

      &:focus {
        background-color: #fff;
      }
    }

    div.row > div {
      margin-bottom: 10px;
    }
  }

  .delivery-address {
    padding-bottom: 10px;
  }

  .create-account {
    .password-info {
      text-align: center;
      font-size: 0.8em;
    }
  }

  .delivery-form {
    display: none;
  }

  .step2-box-summary {
    .title, .subtitle {
      font-weight: bold;
    }

    .title {
      margin-top: 65px;
    }

    .subtitle {
      margin-top: 20px;
    }

    .item {
      background-color: #fff;
      box-shadow: 0px 3px 10px #ddd;
      border-radius: @border-radius-cart;
      padding: 10px;
      margin-top: 10px;

      .price {
        display: block;
      }
    }

    .total-price {
      color: #0275d8;
      font-weight: bold;
    }
  }
}

.summary {

  .payment {
    margin-top: 15px;
  }

  .shipping-payment {

    .image {
      text-align: center;
      font-size: 40px;
      padding-top: 20px;
    }

    .title {
      font-weight: bold;

      .icon {
        vertical-align: middle;
      }
    }

    p { font-size: 0.9em;}
  }

  .delivery-billing  {
    .box-shaddow {
      padding: 25px;
      min-height: 220px;
    }
  }



}