.cart, .customer, .summary {

  h3 {
    text-align: center;
    margin: 20px 0;
  }

  .steps {
    .step {
      border: solid #eee 1px;
      padding: 20px;
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }

  .cart-shipping-payment {

    .item {
      border: solid #aaa 1px;
      margin: 10px 0;
      padding: 20px;
    }

  }

  table.items {
    border-collapse: collapse;
    td, th {
      border: solid #eee 1px;
      padding: 10px;
    }
  }

  .checkout-item {
    border: solid #aaa 1px;
    margin-bottom: 10px;
    padding: 10px;

    & > div {
      float: left;
      width: 80px;
      height: 100px;
    }

    .image {
      width: 80px;
    }

    .model {
      width: 80px;
    }

    .name {
      width: 200px;
      span {
        font-size:75%;
      }
    }

    .quantity {
      width: 50px;
    }

    .availability {
      width: 100px;
    }

    &::after {
      clear: both;
      content: " ";
      display: block;
    }
  }

}

.customer {
  .delivery-form {
    display: none;
  }
}