body {
  font-family: Lato;
}

p {
  color: blue;
}


header {

  .topbar__content {
    padding: 20px 0px;
    border-bottom: solid #aaa 1px;
  }

  .topbar__logo {
    text-align: center;
  }

}

.product-item-list {
  text-align: center;

  h3 {
    margin: 20px 0;
  }

  .item {
    background-color: #fff;
    border-radius: 5px;
    border: solid #aaa 1px;
    padding: 20px;
    margin: 20px 0;
  }
}