<p style="padding: 10px;">Vážený zákazníku,</p>
<p style="padding: 10px;">ještě jednou Vám děkujeme za objednávku, začínáme na ní pracovat :) O dokončení výroby a předání dopravci Vás budeme informovat.</p>
{% if data.message %}
    <p style="padding: 10px;">{{ data.message | raw }}</p>
{% endif %}
<p style="padding: 10px;">Přejeme hezký den!</p>

