<p style="padding: 10px;">Vážený zákazníku,</p>
<p style="padding: 10px;">Vaše <strong>objednávka č. {{ data.order.id }}</strong> byla dnes expedována. O přesném termínu doručení vás bude informovat vybraná dopravní společnost.</p>
{% if data.message %}
    <p style="padding: 10px;">{{ data.message | raw }}</p>
{% endif %}
<p style="padding: 10px;">Děkujeme za nákup!</p>

