<p style="padding: 10px;">Vážený zákazníku,</p>
<p style="padding: 10px;">přijali jsme platbu za <strong>objednávku č. {{ data.order.id }}</strong> na náš účet. Děkujeme!</p>
<p style="padding: 10px;">Na objednávce začínáme pracovat a budeme Vás informovat o jejím předání dopravci.</p>