<html>
  <body>



<table width="100%" cellspacing="0" cellpadding="20" border="0" bgcolor="#ECECEC"><tbody>
    <tr><td>
            <table width="800" cellspacing="0" cellpadding="0" border="0" bgcolor="white" align="center"><tbody>
                     <tr><td>
                        <table width="100%" cellspacing="20" cellpadding="0" border="0"><tbody>
                            <tr>
                                <td>

                                    <table width="100%" cellspacing="0" cellpadding="10" border="0"><tbody><tr><td>
                                                <br></td></tr></tbody></table>

                                    <table style="border-bottom:1px solid #ececec;padding-bottom:6px" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td align="left"><img alt="gowood.cz" src="https://www.gowood.cz/images/logo_v2.png" width="173" height="54"></td>
                                            <td align="right"><font size="+1" color="#00285A">{{ title }}</font></td>
                                        </tr>
                                        </tbody></table>
                                    <br>

                                    {% include template with { data: data } %}

                                    <br />
                                    <p style="padding: 10px;">
                                        <strong>GOWOOD.CZ</strong><br />
                                        Petr Kožený<br />
                                        T: +420 728 870 246<br />
                                        E: info@gowood.cz<br />
                                    </p>

                                    <br />
                                    <br />

                                    <center>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td>
                                                    <p style="padding: 10px;margin-top: 10px; margin-bottom: 10px;">Máte jakoukoli otázku? Něco nesedí? Pište na info@gowood.cz nebo volejte na 728 870 246.
                                                </td>
                                            </tr>
                                            <tr style="height:10px;line-height:10px">
                                                <td>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            </tbody></table>
                                    </center>


                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td></tr>
                <tr bgcolor="white">
                    <td>
                        <center>
                            <center>



                            </center>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td>
                                        {#<a href="https://www.alza.cz/aby-vam-slevy-uz-neutekly-art16669.htm" style="font-family:Segoe UI,Arial,Verdana;font-size:14px;color:silver" target="_blank" rel="noopener"><center><span>Podívejte se, jak neminout žádnou z našich slevových akcí.</span></center></a>#}
                                    </td>
                                </tr>
                                <tr style="height:10px;line-height:10px">
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                </tbody></table>
                            </center>
                    </td>
                </tr>
                </tbody></table>
        </td></tr></tbody></table>

  </body>
</html>