{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="payment">
    <h1 class="align-center">Platba objednávky</h1>

    <p class="align-center margin">Objednávka byla dokončena, zbývá už jenom zaplatit.</p>

    <p class="align-center margin text-big">Celková cena objednávky: <strong>{{ order.total | price }}</strong></p>

    <div class="align-center">
        <form action="{{ order.gopayGwUrl }}" method="post" id="gopay-payment-button">
            <button class="btn btn-success btn-lg" name="pay" type="submit">Zaplatit objednávku</button>
            <script type="text/javascript" src="{{ order.gopayJsUrl }}"></script>
        </form>
    </div>
</div>

{% endblock %}