{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="page-detail">
     <h1>O nás</h1>


    <div class="article row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p style="text-align: center; font-size: 1.1em;">Vyrábíme originální dřevené dekorace a doplňky, u kterých si sami můžete říct, jak mají vypadat. Můžete udělat radost sobě nebo dárkem někomu, kdo si to zaslouží :)</p>
            <p style="text-align: center;">Nejsme plátci DPH a uvedené ceny jsou konečné.</p>
        </div>
        <div class="col-md-2"></div>
    </div>

    </div>

{% endblock %}