{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="page-detail">
     <h1>Kontaktní informace</h1>


    <div class="article row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <strong>Telefon: </strong>+420 728 870 246<br />
            <strong>E-mail:</strong> <a href="mailto:info@gowood.cz">info@gowood.cz</a><br /><br />

            <strong>Bankovní spojení:</strong><br />
            Komerční banka, a.s.<br />
            115-1652560227 / 0100<br /><br />

            <a href="https://www.facebook.com/gowoodcz">Facebook</a><br />
            <a href="https://www.instagram.com/gowoodcz/">Instagram</a><br /><br /><br />
        </div>
        <div class="col-md-4">
            <strong>Korespondeční adresa:</strong><br />
            Petr Kožený<br />
            Jižní 378<br />
            Třebestovice 289 12<br /><br />

            <strong>Fakturační údaje:</strong><br />
            Petr Kožený<br />
            Jižní 378, Třebestovice 289 12<br />
            IČ 75250136
        </div>
        <div class="col-md-1"></div>

    </div>

    <h3>Napište nám</h3>

    <div class="article row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ render(controller('AppBundle:Contact:form')) }}
        </div>
        <div class="col-md-3"></div>
    </div>


    </div>

{% endblock %}

{% block title %}Kontakt{% endblock %}