{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="page-detail about">
        <h1>Pravidla používání cookies</h1>

        <article>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">


                    <p>
                        <strong>Na stránkách GOWOOD.cz používáme tzv. cookies. Na této stránce si můžete přečíst detailní info o tom, co to
                            cookies jsou, jak se používají jaké zpracováváme a proč. Také se dozvíte, jak můžete jejich používání zakázat.</strong>
                    </p>

                    <h2>Co jsou to cookies?</h2>

                    <p>Cookies jsou maličkaté soubory, které váš prohlížeč ukládá k vám do počítače a  slouží k tomu, aby si stránky mohly cokoli pamatovat. <strong>Jsou běžnou součástí naprosté většiny webových stránek.</strong> Funguje díky nim například nákupní košík, přihlášení, uložení průběhu vaší objednávky apod. Tyto cookies ukládají buď přímo naše stránky gowood.cz (cookies první strany) nebo naši partneři jako např. Google, Seznam či Facebook (cookies třetích stran).</p>

                    <h2>Jaké jsou druhy cookies?</h2>

                    <p>Cookies se obecně dělí na 2 druhy:</p>
                    <ul>
                        <li><strong>Dočasné (session cookie):</strong> Tyto soubory se ihned po zavření vašeho prohlížeče smažou. Jsou uložené pouze během vaší návštěvy.</li>
                        <li><strong>Trvalé (permanent cookie):</strong> Jsou uložené ve vašem počítači pevně definovanou dobu. Tyto cookies slouží například k tomu, abychom vás při vaší další návštěvě rozpoznali a rovnou vás přihlásili. Stránky si tak mohou pamatovat vaše přihlášení nebo nákupní košík.</li>
                    </ul>

                    <h2>Jak je udělen souhlas s používáním cookies?</h2>

                    <p>V horní části našich stránek se zobrazí lišta informující o tom, že naše stránky využívají cookies. Pokud budete pokračovat v prohlížení našich stránek a zároveň máte ve vašem prohlížeči povolené ukládání cookies ze stránky gowood.cz, berete tuto skutečnost na vědomí a budeme to považovat jako souhlas s užíváním cookies v souladu s těmito pravidly.</p>

                    <h2>Jaké cookies používáme a pro jaké účely?</h2>

                    <ul>
                        <li><strong>Cookies nezbytné pro chod stránek</strong> – Jak již bylo zmíněno výše. Díky těmto cookies, si stránky pamatují vaše přihlášení, nákupní košík a průběh vaší objednávky.</li>
                        <li><strong>Cookies přizpůsobující stránky uživatelům</strong> – Díky těmto cookies si naše stránky pamatují, zdali už jste se přihlásili do odběru našich novinek či potvrdili informační lištu. V takovém případě vám znovu nezobrazujeme lištu ani formulář k přihlášení. Stránky si také pamatují jak máte přepnuté levé menu, zdali na kategorie nebo na značky.</li>
                        <li><strong>Cookies pro statistické účely</strong> – Díky těmto cookies si můžeme během realizace objednávky uložit, odkud jste na naše stránky přišli. Takové údaje využíváme k vyhodnocení našich marketingových aktivit a pro statistické účely.</li>
                        <li><strong>Cookies affiliate programu</strong> - Cookies jsou využívány také pro realizaci našeho affiliate programu, kdy je zaznamenáno, zda jste do 30 dnů od kliknutí na reklamu GOWOOD na jiných webových stránkách nakoupili jakékoli zboží. Zpracování je opět možné pouze na základě Vašeho souhlasu s používáním těchto cookies, který poskytujete již na webových stránkách našeho affiliate partnera, tedy na stránkách, kde jste klikli na reklamu. Pokud tento souhlas poskytnete a pokud zároveň poskytnete souhlas s ukládáním cookies pro tyto účely na našich webových stránkách, budou tyto cookies používány pro účely evidence realizovaných konverzí našich partnerů.</li>
                        <li><strong>Cookies pro marketingové účely</strong> – Pro lepší cílení reklamy a propagace zpracováváme při využití cookies údaje o návštěvě webových stránek a prohlížených produktech. Na jejich základě vám pak můžeme doporučovat produkty, o které jste projevil zájem, v obsahové síti našich partnerů.</li>
                    </ul>

                    <h3>Třetí strany využívající soubory cookies na našich stránkách:</h3>

                    <ul><li><strong>Facebook, Inc.</strong> – Přihlášení přes Facebook, Vyhodnocování reklam, Remarketing</li>
                        <li><strong>Google LLC</strong> – Přihlášení přes Google, Vyhodnocování reklam, Remarketing</li>
                        <li><strong>Seznam.cz, a.s.</strong> – Vyhodnocování reklam, Remarketing</li>
                    </ul>

                    <p>Cookies používané třetími stranami a způsob použití údajů získaných jejich prostřednictvím se řídí zásadami ochrany osobních údajů příslušných třetích stran. Vezměte prosím na vědomí, že tyto třetí strany mohou informace, které získaly prostřednictvím cookies, zkombinovat s dalšími informacemi, které jste jim poskytli nebo které získaly v důsledku toho, že používáte jejich služby.</p>


                    <h2>Jak odvolat souhlas s používáním cookies?</h2>

                    <p>Pokud si pouze nepřejete využívat cookies pro reklamu zprostředkovanou některou z třetích stran, je možné upravit nastavení přímo na stránkách zpracovatelů a vašich uživatelských profilech:</p>
                    <ul>
                        <li>Odhlásit cookies <strong>Seznam.cz, as</strong>: <a href="http://www.imedia.cz/no-cookie">http://www.imedia.cz/no-cookie</a></li>
                        <li>Upravit nastavení cookies a reklam pro <strong>Google LLC</strong>: <a href="https://adssettings.google.com/authenticated?hl=cs">https://adssettings.google.com/authenticated?hl=cs</a></li>
                        <li>Upravit nastavení reklam a využití údajů společnosti <strong>Facebook, Inc.</strong>: <a href="https://www.facebook.com/ads/preferences/edit/">https://www.facebook.com/ads/preferences/edit/</a></li>
                    </ul>

                    <p>Váš prohlížeč můžete také přepnout do tzv. anonymního režimu. V takovém případě se ze všech cookies stanou dočasné a ihned po zavření vašeho prohlížeče se všechny vymažou. Můžete tak stránky bez obav využívat a po vašem odchodu vše zapomenou. Údaje z cookies pak nemohou být nijak využity.</p>

                    <p>Ve vašem prohlížeči také můžete zakázat ukládání cookies ze stránek gowood.cz úplně a to včetně cookies třetích stran. Již uložené cookies je také možné ručně smazat. Toto nastavení se provádí přímo ve vašem prohlížeči. Připojujeme návody, jak toto nastavení provést v nejběžnějších prohlížečích:</p>

                    <ul><li><a href="https://support.google.com/accounts/answer/61416?hl=cs">Chrome</a></li>
                        <li><a href="https://support.apple.com/kb/ph21411?locale=cs_CZ">Safari</a></li>
                        <li><a href="https://support.mozilla.org/cs/kb/povoleni-zakazani-cookies">Firefox</a></li>
                        <li><a href="https://support.microsoft.com/cs-cz/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a></li>
                        <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&amp;hl=cs">Android</a></li></ul>

                    <p>Berte prosím na vědomí, že pokud zakážete ukládání všech cookies ze stránek gowood.cz, stránky nebudou fungovat správně. Jak bylo zmíněno výše, přestane fungovat košík, vaše přihlášení apod.</p>

                    <p>V případě jakýchkoli dotazů týkajících se využívání cookies nás neváhejte kontaktovat na <a href="mailto:info@gowood.cz">info@gowood.cz</a>.</p>


                </div>
                <div class="col-md-1"></div>
            </div>


        </article>

    </div>

{% endblock %}

{% block title %}Pravidla používání cookies{% endblock %}