{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="page-detail">
     <h1>Pro firmy</h1>


    <div class="article row">
        <div class="col-md-2"></div>
        <div class="col-md-8 align-center">
        Text bude doplněn 10. 11. 2018
        </div>
        <div class="col-md-2"></div>
    </div>

    </div>

{% endblock %}