{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="page-detail about">
        <h1>Ochrana osobních údajů<small>dle čl. 12 a násl. Nařízení (EU) 2016/679 (GDPR)</small></h1>

        <article>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">


                            <p>Správcem osobních údajů poskytnutých za účelem plnění předmětu smlouvy je prodávající.</p>

                            <h2>Identifikační a kontaktní údaje správce</h2>

                            <p><strong>Fyzická osoba:</strong> Petr Kožený <br> <strong>Sídlo:</strong> Jižní 378, Třebestovice, 289 12<br>
                                <strong>IČ:</strong> 75250136<br> <strong>Telefon:</strong>
                                728 870 246<br> <strong>E-mail:</strong> <a href="mailto:info@gowood.cz">info@gowood.cz</a><br>
                                <strong>Kontaktní adresa:</strong> Jižní 378, Třebestovice, 289 12<br></p>



                            <p>Správce nejmenoval pověřence pro ochranu osobních údajů.</p>

                            <h2>Účel zpracování, rozsah osobních údajů a právní základ pro zpracování</h2>

                            <p> Kupující bere na vědomí, že pro účely uzavření kupní smlouvy, její následné plnění (zpracování objednávky,
                                zajištění vyskladnění a doručení zboží) a případného řešení práv z vadného plnění (reklamací) správce zpracuje a
                                uchová v souladu s nařízením Evropského parlamentu a Rady (EU) 2016/679, obecné nařízení o ochraně osobních
                                údajů (dále jen GDPR), jeho osobní údaje v následujícím rozsahu: <em>jméno, příjmení, doručovací adresa, fakturační
                                    adresa, poznámka k objednávce, informace o provedené platbě, e-mail, telefonní číslo a evidenci nákupů</em>. </p>

                            <p> Právním základem pro zpracování osobních údajů je v souladu s článkem 6 odst. 1 písm. b) GDPR plnění
                                smlouvy, jejíž smluvní stranou je kupující. </p>

                            <h2>Kategorie příjemců/příjemci osobních údajů</h2>

                            <p>Správce se zavazuje osobní údaje kupujícího neposkytnout jiným subjektům než následujícím zpracovatelům:</p>

                            <ol>
                                <li> smluvnímu dopravci, kterého si kupující zvolí v objednávkovém formuláři, za účelem dodání zboží,
                                    přičemž údaje budou poskytnuty v následujícím rozsahu: <em>jméno, příjmení, doručovací adresa, poznámka k
                                        objednávce, e-mail a telefonní číslo</em>. Naši smluvní partneři: <strong>Česká pošta, s.p.</strong> (IČ: 47114983), <strong>Zásilkovna s.r.o.</strong>
                                    (IČ: 28408306) a <strong>Direct Parcel Distribution CZ s. r. o.</strong> (IČ: 61329266); </li>
                                <li> pro nabídku našich
                                    produktů <strong>stávajícím zákazníkům</strong> formou obchodních sdělení využíváme službu Mailchimp společnosti <strong>Rocket Science Group LLC</strong> Údaje
                                    jsou poskytnuty v následujícím rozsahu: <em>e-mail, zákaznické číslo, jméno, příjmení, pohlaví odvozené z vašeho
                                        jména a evidence vašich nákupů</em>. V tomto případě zasíláme marketingové sdělení o produktech souvisejících se
                                    zbožím, které jste si již zakoupili v minulosti. Zpracování provádíme z důvodu realizace oprávněných zájmů
                                    (článek 6 odst. 1 písm. f) GDPR) v podobě omezeného přímého marketingu. Nevyžadujeme tak se zasíláním těchto
                                    obchodních sdělení souhlas, ale je možné zasílání odmítnout během vytváření objednávky v posledním kroku nebo
                                    kdykoli později kliknutím na odkaz v zápatí e-mailu či vyjádřit námitku jinou cestou (telefon, e-mail).
                                    Odmítnutí zasílání těchto obchodních sdělení nemá vliv na dokončení objednávky. </li>
                                <li> pro nabídku našich
                                    produktů <strong>potenciálním zákazníkům či pouze registrovaným uživatelům</strong> formou obchodních sdělení využíváme Vaši
                                    <em>e-mailovou adresu a datum registrace</em>. Údaje poskytujeme službě Drip společnosti <strong>Avenue 81, Inc.</strong> Zpracování
                                    probíhá v tomto případě pouze na základě Vašeho souhlasu, který je zcela dobrovolný. Souhlas udělujete při
                                    registraci či odesláním formuláře při zapsání k odběru novinek na našich stránkách (zaslání 7 vybraných tipů). Váš souhlas můžete kdykoli odvolat kliknutím na
                                    příslušný odkaz umístěný v každém obchodním sdělení či vyjádřit námitku jinou cestou (telefon, e-mail). </li>
                                <li> pro lepší cílení reklamy a propagace zpracováváme při využití cookies <em>údaje o návštěvě webových stránek a
                                        prohlížených produktech</em>. Na jejich základě je pak možné lépe zacílit reklamu, aby pro vás byla relevantnější
                                    nebo přizpůsobit obsah webových stránek tak, aby zahrnoval produkty o které jste projevili zájem. Zpracování je
                                    možné pouze na základě Vašeho <a href="/pravidla-pouzivani-cookies">souhlasu s používáním příslušných cookies</a>. Tento souhlas udělujete používáním
                                    našich stránek a informuje vás o tom horní lišta na našich stránkách. I tento souhlas je zcela dobrovolný.
                                    Souhlas s používáním cookies můžete kdykoli odvolat. K tomu je nutné, abyste v nastavení svého prohlížeče
                                    ukládání cookies pro stránky Econea.cz zakázali nebo váš prohlížeč přepnuli do anonymního režimu a již uložené
                                    cookies případně vymazali. Údaje získané prostřednictvím cookies poskytujeme následujícím zpracovatelům:
                                    <strong>Facebook, Inc.</strong>, <strong>Google LLC</strong>, <strong>Seznam.cz, a.s.</strong>, <strong>Rocket Science Group LLC</strong>
                                    Žádnému ze zpracovatelů neposkytujeme vaše identifikační údaje, takže na jejich straně není možné vás jako konkrétní fyzickou osobu identifikovat. Více
                                    informací o cookies <a href="/pravidla-pouzivani-cookies">naleznete zde</a>. </li>
                                <li> cookies jsou využívány také pro realizaci našeho affiliate
                                    programu, kdy je zaznamenáno, zda jste do 30 dnů od kliknutí na reklamu Econea na jiných webových stránkách
                                    nakoupili jakékoli zboží. Zpracování je opět možné pouze na základě Vašeho souhlasu s používáním těchto cookies,
                                    který poskytujete již na webových stránkách našeho affiliate partnera, tedy na stránkách, kde jste klikli na
                                    reklamu. Pokud tento souhlas poskytnete a pokud zároveň poskytnete souhlas s ukládáním cookies pro tyto účely na
                                    našich webových stránkách, budou tyto cookies používány v souladu s našimi <a href="/pravidla-pouzivani-cookies">pravidly používání cookies</a></li>
                                <li> provozovateli
                                    portálu Heureka.cz společnosti <strong>Heureka Shopping s.r.o.</strong> (IČ: 02387727) za účelem generování a zasílání dotazníků
                                    spokojenosti s nákupem v rámci programu Ověřeno zákazníky, do něhož je internetový obchod zapojen. Právním
                                    základem pro zpracování je v tomto případě v souladu s článkem 6 odst. 1 písm. f) GDPR oprávněný zájem správce,
                                    který spočívá ve zjišťování spokojenosti kupujícího s nákupem u správce. Zasílání dotazníků se týká všech
                                    kupujících, kteří neodmítli zasílání obchodních sdělení ve smyslu § 7 odst. 3 zákona o některých službách
                                    informační společnosti (č. 480/2004 Sb.), a je prováděno po každém nákupu na internetovém obchodu. Provozovatel
                                    portálu Heureka.cz je oprávněn předanou <em>e-mailovou adresu a seznam zakoupených produktů</em> použít výhradně za
                                    účelem vygenerování a zaslání dotazníku spokojenosti ve smyslu <a href="https://sluzby.heureka.cz/napoveda/podminky-a-dulezite-dokumenty/">Podmínek programu Ověřeno zákazníky</a>.
                                    Proti zasílání e-mailových dotazníků v rámci
                                    programu Ověřeno zákazníky může kupující kdykoli vyjádřit námitku odmítnutím dalších dotazníků pomocí odkazu v
                                    e-mailu s dotazníkem. V případě námitky nebude dotazník kupujícímu dále zasílán.
                                </li>
                            </ol>


                            <h2>Doba uložení</h2>

                            <p>Osobní údaje budou správcem uloženy po dobu nutnou ke splnění smlouvy (zpracování objednávky, vyskladnění a
                                doručení zboží) a dále po dobu zákonné záruky (24 měsíců od převzetí zboží) či po dobu poskytnuté záruky
                                smluvní.</p>

                            <p>Kupující bere na vědomí, že správce má dle § 31 zákona o účetnictví (č. 593/1991 Sb.) povinnost uschovat
                                účetní doklady a účetní záznamy (faktury) po dobu 5 let počínajících koncem účetního období, kterého se týkají
                                (to znamená, pokud nakoupíte zboží v průběhu roku 2018, musí být faktura uchována do konce roku 2023). Správce
                                má také povinnost vyplývající z § 47 zákona o správě daní a poplatků (č. 337/1992 Sb.) uchovat fakturu po dobu 3
                                let od konce zdaňovacího období, v němž vznikla daňová povinnost související s fakturou (to znamená, pokud
                                nakoupíte zboží v průběhu roku 2018, musí být faktura pro účely daňového řízení uchována do konce roku 2021).
                                Faktura obsahuje následující osobní údaje: <em>jméno, příjmení, e-mailovou adresu, fakturační adresu, číslo
                                    objednávky a evidenci zakoupeného zboží</em>.</p>

                            <p>Kupující bere rovněž na vědomí, že správce má dle § 35 zákona o dani z přidané hodnoty (č. 235/2004 Sb.),
                                povinnost uschovat daňové doklady po dobu 10 let od konce zdaňovacího období, ve kterém se plnění uskutečnilo
                                (to znamená, pokud nakoupíte zboží v průběhu roku 2018, musí být faktura uchována do konce roku 2028). Daňový
                                doklad obsahuje následující osobní údaje: <em>jméno, příjmení, e-mailovou adresu, fakturační adresu, číslo
                                    objednávky a evidenci zakoupeného zboží</em>.</p>

                            <p>Ostatní osobní údaje, které vyžadují váš souhlas a nevztahuje se na ně zákonná povinnost uchování, budou
                                uchovány po dobu 5 let, pokud nebude souhlas odvolán dříve.</p>

                            <h2>Práva kupujícího ve vztahu k osobním údajům</h2>

                            <p>Kupující dále bere na vědomí, že dle článků 15 až 21 GDPR má právo:</p>

                            <ol>
                                <li><strong>na přístup k osobním údajům</strong>, které sestává z práva získat od správce potvrzení, zda osobní údaje, které
                                    se ho týkají, jsou či nejsou zpracovávány, a pokud je tomu tak, má právo získat přístup k těmto osobním údajům a
                                    k informacím vymezeným v článku 15 GDPR;</li>
                                <li><strong>na opravu nepřesných osobních údajů</strong>, které se ho týkají, dále
                                    s přihlédnutím k účelům zpracování má kupující právo na doplnění neúplných osobních údajů, a to i poskytnutím
                                    dodatečného prohlášení dle článku 16 GDPR;</li>
                                <li><strong>na výmaz („právo být zapomenut“)</strong>, které spočívá v tom, že
                                    správce bez zbytečného odkladu vymaže osobní údaje, které se kupujícího týkají, jakmile již nebudou potřebné pro
                                    účely plnění smlouvy, pokud není dán jiný právní důvod pro jejich další zpracování;</li>
                                <li><strong>na omezení
                                        zpracování osobních údajů</strong> v případech vymezených článkem 18 GDPR;</li>
                                <li><strong>na přenositelnost údajů</strong> dle podmínek
                                    článku 20 GDPR;</li>
                                <li><strong>vznést námitku proti zpracování osobních údajů</strong> dle článku 21 GDPR.</li>
                            </ol>

                            <p>Správce poskytne kupujícímu na žádost informace o přijatých opatřeních v každém případě nejpozději do 15 dnů
                                od obdržení žádosti.</p>

                            <p>Správce se zavazuje poskytnout kupujícímu v případě, že využije své právo na přístup k osobním údajům,
                                bezplatně kromě první kopie zpracovávaných osobních údajů také bezplatnou druhou kopii, pokud o ni kupující
                                požádá.</p>

                            <p>V případě pochybností o zpracovávání osobních údajů má kupující právo obrátit se na <strong>Úřad pro ochranu osobních
                                    údajů</strong>, který je v této oblasti dozorovým orgánem, a podat k němu stížnost.</p>

                            <p>Prodávající umožní nákup bez registrace, přičemž údaje neregistrovaných kupujících využije výhradně k plnění
                                předmětu smlouvy, nikoliv k marketingovým či obchodním účelům. </p>

                            <p>Tyto podmínky nabývají účinnosti dnem 11. 11. 2018.</p>

                </div>
                <div class="col-md-1"></div>
            </div>


        </article>

    </div>

{% endblock %}

{% block title %}Ochrana osobních údajů{% endblock %}