{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <div class="alert alert-success">Změna hesla byla provedena.</div>

    <p>Přihlásit se můžete <a href="{{ path('login') }}">zde</a></p>

{% endblock %}