{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form action="{{ path('reset_password_request') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="email" value="{{ email }}" />
        <button type="submit">Poslat nové heslo</button>
    </form>
{% endblock %}